body {
  background: black;
  color: white;
}

td {
  height: 30px;
  width: 30px;
  &.G {
    background: green;
  }
  &.F {
    background: yellow;
  }
  &.W {
    background: black;
  }
  &.S {
    background: blue;
  }
  &.P {
    background: brown;
  }
}

@mixin section {
  background: black;
  border: 5px solid white;
  border-radius: 10px;
  padding: 15px;
}

#game {
  @include section;
  width: 60vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  #left, #right {
    position: relative;
    > * {
      @include section;
      & + *:not(#world) {
        margin-top: 15px;
      }
    }
  }

  #left {
    margin-right: 15px;
  }
  #right {
    flex: 2 1 auto;
  }
}

#compass {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 50px;
  margin-left: -25px;
}

#world {
  width: 800px;
  height: 500px;
}
