body {
  background: black;
  color: white; }

td {
  height: 30px;
  width: 30px; }
  td.G {
    background: green; }
  td.F {
    background: yellow; }
  td.W {
    background: black; }
  td.S {
    background: blue; }
  td.P {
    background: brown; }

#game {
  background: black;
  border: 5px solid white;
  border-radius: 10px;
  padding: 15px;
  width: 60vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }
  #game #left, #game #right {
    position: relative; }
    #game #left > *, #game #right > * {
      background: black;
      border: 5px solid white;
      border-radius: 10px;
      padding: 15px; }
      #game #left > * + *:not(#world), #game #right > * + *:not(#world) {
        margin-top: 15px; }
  #game #left {
    margin-right: 15px; }
  #game #right {
    flex: 2 1 auto; }

#compass {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 50px;
  margin-left: -25px; }

#world {
  width: 800px;
  height: 500px; }
